BODY {
  font-family: Verdana, Arial;
  font-size: 14px;
}

A {
  color: #0066FF;
  text-decoration: none;
}

A:hover {
  text-decoration: underline;
}

h1 {
  margin: 4px 0px;
}

.important {
  color: red;
  font-size: 18px; 
  font-weight: bold;
}

.subtext {
  color: #808080;
  font-size: 11px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.clickable {
  color: #0066FF;
  cursor: pointer;
}

.clickable:hover {
  text-decoration:underline;
}

.loggedin_header {
  font-color: white;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 5px;
}

.container {
  margin: 40px;
  padding: 10px auto;
}

.zone_node_data {
  border: 1px solid gray;
  border-radius: 15px;
  float: left;
  padding: 10px;
}

#main {
  width: 950px;
  margin: 0px auto 15px auto;
}

#legend {
  margin: 20px 0;
  width: 250px;
}

#zone_node_info {
  margin: 20px 20px;
  width: 350px;
}

#zone_node_addition {
  margin: 20px 20px;
  width: 400px;
}

.header {
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
}

.clear {
  clear: both;
}

.outlined {
  border: 1px solid gray;
  margin-top: 10px;
  padding: 10px;
}

.scene_event {
  margin-bottom: 10px;
  margin-top: 10px;
}


#feedbacks {
  width: 100%;
  border: 1px solid #808080;
  border-spacing: 0px 0px;
  margin: 5px 0px;
}

#feedbacks td {
  vertical-align: top;
  padding: 5px;
}

#feedbacks th {
  background-color: #CEF;
  padding: 5px;
  text-align: left;
}

#feedbacks .entry {
  min-width: 600px;
}

#feedbacks .entry .text {
  cursor: pointer;
}

#feedbacks .name {
  min-width: 120px;
}

#feedbacks .checkbox {
  cursor: pointer;
}

#feedbacks tr.even {
  background-color: #EEE;
}

#feedbacks tr.odd {
  background-color: #DDD;
}

#feedbacks tr.even.new {
  background-color: #EFE;
}

#feedbacks tr.odd.new {
  background-color: #DFD;
}

#feedbacks tr.even.old {
  background-color: #FEA;
}

#feedbacks tr.odd.old {
  background-color: #FE8;
}

#feedbacks tr.even.very_old {
  background-color: #FEE;
}

#feedbacks tr.odd.very_old {
  background-color: #FDD;
}

#form {
  width: 605px;
  margin: 6px 0px;
}

#form #presets {
  font-size: 12px;
}

#form textarea {
  width: 600px;
  height: 60px;
  margin: 4px 0px;
}

#form .submit {
  width: 80px;
  font-size: 16px;
  margin-right: 5px;
}

#feedbacks .wall_entry {
  padding: 8px 5px;
  border-bottom: 1px solid #808080;
}

#context_entries {
  border: 1px solid #808080;
  background-color: #FFF;
  padding: 5px;
  width: 600px;
  margin: 2px 0px 8px 0px;
}

#tabbar {
  padding: 5px;
  border: 1px solid #808080;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin: 15px 0px 10px 0px;
}

.tab {
  font-weight: bold;
  float: left;
  padding: 3px 10px;
  margin: 3px 10px;
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.tab A {
  font-weight: normal;
}

#post_topic {
  display: none;
}

#post_topic textarea {
  width: 454px;
  height: 60px;
  margin: 10px 0px;
}

#profile .entry {
  margin: 5px 0px 0px 0px;
  padding: 5px 0px 2px 0px;
  border-top: 1px solid #DDDDDD;
}

#profile h2 {
  margin: 2px 0px;
}

#profile .notice {
  margin: 10px 0px;
  color: blue;
  font-weight: bold;
}

#profile #actions {
  margin: 5px 0px 10px 0px;
  padding: 5px;
  border: 1px solid #CCCCCC;
}

#profile .action {
  margin-right: 8px;
}

.breed {
  float: left;
  padding: 10px;
  margin: 10px;
  border: 1px solid grey;
  width: 200px;
}

.ability {
  float: left;
  width: 200px;
}

.error {
  color: red;
  font-weight: bold;
}

#diff_container {

  margin: 12px 0px;
  padding: 15px;
  border-radius: 8px;
  background-color: #EEE;
  color: black;
}

#diff_info {

  margin: 12px 0px;
}

.red {
  color: red;
}

.green {
  color: green;
}

del {
  color: red;
}

ins {
  color: green;
}

#diff_container .spacer {
  color: #999;
  margin: 10px 0px;
}

#syncerrors {
  border: 1px solid #AAA;
  border-spacing: 2px;
}

#syncerrors td, th {
  background-color: #DDD;
  padding: 5px;
}

#syncerrors th {
  font-weight: bold;
  background-color: #DDEEDD;
}

#journal {
  margin: 10px 0px;
}

#graph {
  height: 300px;
}

.search_div {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
}

.search_box {
    line-height:20px;
    width:385px;
}
