<div class="jumbotron creme_linen">
  <div class="container">
    <h1 class="header-title">Videos</h1>
    <% if @category %>
    <h3><%= @category.name %> - <%= @category.description %></h3>
    <% else %>
    <h3>All Videos</h3>
    <% end %>
  </div>
</div>

<div class="row">
<% (@videos).each { |video| %>
  <%= render_video_thumbnail(video) %>
<% } %>
</div>
