<div class="jumbotron">
  <div class="container">
    <h1 class="header-title">Videos</h1><h3 class="header-subtitle"></h3>
  </div>
</div>

<div class="row">
<% (@videos).each { |video| %>
  <%= render_video_thumbnail(video) %>
<% } %>
</div>
