<div class="jumbotron">
  <div class="container">
    <h1 class="header-title">Videos</h1><h3 class="header-subtitle"></h3>
  </div>
</div>

<div class="row">
<% (@videos * 30).each { |video| %>
  <div class="span3">
    <h3><%= video.title %></h3>
    <%= link_to image_tag(video.thumbnail.url), video_path(video) %>
  </div>
<% } %>
</div>
