<h1>Video Gallery</h1>

<div class="row">
<% (@videos * 30).each { |video| %>
  <div class="span3">
    <h3><%= video.title %></h3>
    <%= link_to image_tag(video.thumbnail.url), video_path(video) %>
  </div>
<% } %>
</div>
