<a href="videos/zenia_intro.flv"
    style="display:block;width:425px;height:300px;"
    id="player">
</a>

<script language="JavaScript">
  flowplayer("player", "http://releases.flowplayer.org/swf/flowplayer-3.2.16.swf");
</script>
