<h1>Video Gallery</h1>

<div class="row">
<% @videos.each { |video| %>
<div class="span3">
  <%= show_video(video, "flowplayer_small") %>
  <%= link_to video.title, video_path(video) %>
</div>
<% } %>
</div>
