<div class="quick_edit">

  <div class="name"><%= best_in_place upload, :title %></div>

  <div class="name"><%= best_in_place upload, :description %></div>

  <% path = upload._type == "Video" ? video_path(upload) : photo_path(upload) %>
  <%= link_to image_tag(upload.thumbnail_url), path %>

  <div class="actions">
    <button class="btn btn-lg btn-block">
      <%= link_to fa_icon("trash", text: "delete"), upload_path(upload), :confirm => 'Really delete this?', :method => :delete  %>
    </button>
  </div>
</div>
