<div class="jumbotron">
  <div class="container">
    <h1 class="header-title">Ty Loves Candy</h1><h3 class="header-subtitle">A Wedding Game for Tyler Stanley and Candace Flores</h3>
  </div>
</div>

<h2><%= image_tag("TyAndCandy.jpg", align: "left") %><small>Welcome to Tyler and Candace's Wedding Game!</small></h2>

<p>Upload pictures and videos of the wedding to get as many points as possible. Vote on others pics and videos to gain more points. The one with the most points is the wedding MVP! Read the <%= link_to "How To Play", how_to_play_path %> page for more details.</p>
