<div class="jumbotron">
  <div class="container">
    <h1 class="header-title">Photos</h1>
    <% if @category %>
    <h3><%= @category.name %> - <%= @category.description %></h3>
    <% else %>
    <h3>All Photos</h3>
    <% end %>
  </div>
</div>

<h4></h4>

<div class="row">
  <% @photos.each { |photo| %>
  <%= render_photo_thumbnail(photo) %>
  <% } %>
</div>
