<div class="jumbotron">
  <div class="container">
    <h1 class="header-title">Photos</h1><h3 class="header-subtitle"></h3>
  </div>
</div>

<div class="row">
  <% @photos.each { |photo| %>
  <%= render_photo_thumbnail(photo) %>
  <% } %>
</div>
