/* custom player skin */
.flowplayer_large { width: 480px; max-width: 800px; }
.flowplayer_small { width: 320px; max-width: 320px; }
.flowplayer { background-color: #222; background-size: cover; }
.flowplayer .fp-controls { background-color: rgba(0, 0, 0, 0.4)}
.flowplayer .fp-timeline { background-color: rgba(0, 0, 0, 0.5)}
.flowplayer .fp-progress { background-color: rgba(219, 0, 201, 1)}
.flowplayer .fp-buffer { background-color: rgba(249, 249, 249, 1)}