<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>

<h2>Uploaded Pictures and Videos</h2>
<%= form_for Upload.new, :html => { :multipart => true, :id => "new_upload" } do |f| %>
  <div class="row fileupload-buttonbar">
    <div class="span12">
      <span class="btn btn-success fileinput-button">
        <i class="icon-plus icon-white"></i>
        <span>Add files...</span>
        <%= f.file_field :upload %>
      </span>
    </div>
  </div>
<% end %>

<div class="row" id="uploads">
  <% @uploads.each { |upload| %>
    <%= quick_edit(upload) %>
  <% } %>
</div>
