<div class="jumbotron">
  <div class="container">
    <h1 class="header-title">Your Shares</h1><h3 class="header-subtitle"></h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <p>Share your pictures and videos by tapping 'Add files...'. You can drag and drop multiple files if you're on a computer.</p>
    <p>Be sure to change the title and category if needed. Longer descriptions are optional.</p>
  </div>
</div>

<div id="upload_progress"></div>

<%= form_for Upload.new, :html => { :multipart => true, :id => "new_upload" } do |f| %>
  <div class="fileupload-buttonbar">
    <span class="btn btn-success fileinput-button">
      <i class="icon-plus icon-white"></i>
      <span>Add files...</span>
      <%= f.file_field :upload %>
    </span>
  </div>
<% end %>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#photos" data-toggle="tab">Pictures</a></li>
    <li><a href="#videos" data-toggle="tab">Videos</a></li>
  </ul>
  <div class="tab-content">
    <div id="photos" class="tab-pane row active">
      <% @uploads.each { |upload| if upload._type == "Photo" %>
        <%= quick_edit(upload, @categories_photo) %>
      <% end } %>
    </div>
    <div id="videos" class="tab-pane row">
      <% @uploads.each { |upload| if upload._type == "Video" %>
        <%= quick_edit(upload, @categories_video) %>
      <% end } %>
    </div>
  </div>
</div>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
      <span class="sr-only">Uploading...</span>
    </div>
  </div>
</div>
</script>
