<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>

<h2>Uploaded Pictures and Videos</h2>
<%= form_for Upload.new, :html => { :multipart => true, :id => "new_upload" } do |f| %>
  <div class="row fileupload-buttonbar">
    <div class="span12">
      <span class="btn btn-success fileinput-button">
        <i class="icon-plus icon-white"></i>
        <span>Add files...</span>
        <%= f.file_field :upload %>
      </span>
    </div>
  </div>
<% end %>

<div class="row" id="uploads">
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#photos">Pictures</a></li>
    <li><a href="#videos">Videos</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="photos">
      <% @uploads.each { |upload| if upload._type == "Photo" %>
        <%= quick_edit(upload) %>
      <% end } %>
    </div>

    <div class="tab-pane" id="videos">
      <% @uploads.each { |upload| if upload._type == "Video" %>
        <%= quick_edit(upload) %>
      <% end } %>
    </div>
  </div>
</div>

<script>
  $('#myTab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
  $(function () {
    $('#myTab a:first').tab('show')
  })
</script>
