<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>

<h2>Uploaded Pictures and Videos</h2>
<%= form_for Upload.new, :html => { :multipart => true, :id => "new_upload" } do |f| %>
  <div class="row fileupload-buttonbar">
    <div class="span12">
      <span class="btn btn-success fileinput-button">
        <i class="icon-plus icon-white"></i>
        <span>Add files...</span>
        <%= f.file_field :upload %>
      </span>
    </div>
  </div>
<% end %>

<div class="row" id="uploads">

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#photos" data-toggle="tab">Pictures</a></li>
      <li><a href="#videos" data-toggle="tab">Videos</a></li>
    </ul>
    <div class="tab-content">
      <div id="photos" class="tab-pane active">
        <h4>Your Photos</h4>
        <% @uploads.each { |upload| if upload._type == "Photo" %>
        <div class="span3">
          <%= quick_edit(upload) %>
        </div>
        <% end } %>
      </div>
      <div id="videos" class="tab-pane">
        <h4>Your Videos</h4>
        <% @uploads.each { |upload| if upload._type == "Video" %>
        <div class="span3">
          <%= quick_edit(upload) %>
        </div>
      <% end } %>
      </div>
    </div><!-- /.tab-content -->
  </div><!-- /.tabbable -->

</div>
