<div class="jumbotron">
  <div class="container">
    <h1 class="header-title">How To Play</h1><h3 class="header-subtitle"></h3>
  </div>
</div>

<div class="media">
  <a class="pull-left" href="#">
    <%= image_tag("pink_candy_128.png", :class => "media-object") %>
  </a>
  <div class="media-body">
    <h4>The Goals are Simple</h4>
    <p>Capture tons of special moments on your phone and share them here.</p>
    <p>Each submission gets you a "Candy". Whomever has the most candy wins!</p>
    <p>Candy is awarded to you for the content you add.
      <ul>
        <li>1 piece of candy per photo.</li>
        <li>2 pieces of candy per video.</li>
      </ul>
    </p>
    <p>Additionaly, you can give out Candy to photos and videos you enjoyed. Just tap the Give Candy button.</p>
    <p>The rankings board will keep track of who has the most candy for bragging rites.</p>
    <p>Lets keep it classy and fun, these pictures and videos will be seen by everyone.</p>
    <p>Have Fun! This is a special day, lets all enjoy it.</p>
  </div>
</div>
